<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo -->
    <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/img/logo_lg.png" alt="logo_Gea" id="logo"/>
    </a>
    <!-- Boton menu responsive  -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/task-new']" *ngIf="identity && identity.sub">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear Tarea
                </a>
            </li>

        </ul>
        <ul class="nav navbar-right navbar-nav" *ngIf="!identity">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Acceder</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Registrarse</a></li>
        </ul>
        <!-- Menu a laderecha-->
        <ul class="nav navbar-right navbar-nav" *ngIf="identity && identity.sub">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user-edit']">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Ajustes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login', 1 ]">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    Salir
                </a>
            </li>
        </ul>


    </div>

</nav>


<router-outlet></router-outlet>