<div class="col-12">

    <div class="loader" *ngIf="loading == 'show'">
        <img src='/assets/img/loader.gif'>
    </div> 
    <!--if verifica carga de task para evitar  problemas en la data binding-->
    <div class="col-md-12" *ngIf="task">
        <h3>{{task.title}}</h3>

        <div class="panel panel-default task-data">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Tarea creada por <strong>{{task.user.name + ' ' + task.user.surname  }}</strong> creada el {{ task.createdAt.timestamp |generateDate }}
                </h3>
            </div>
            <div class ="panel-body">
                Estado:
                    <p class='alert alert-success' *ngIf="task.status == 'new'">Nueva</p>
                    <p class='alert alert-warning' *ngIf="task.status == 'todo'">Por hacer</p>
                    <p class='alert alert-danger' *ngIf="task.status == 'finished'">Terminada</p>
                    <p>{{task.description}}</p>
            </div>
            <div class="panel-footer">
                utima actulizacion {{ task.updatedAt.timestamp |generateDate }}
            </div>
        </div>

    <!-- Button HTML (to Trigger Modal) -->
    <a [routerLink]="['/index']" class="btn btn-warning">Volver</a>
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Estas Seguro?</h4>
                </div>
                <div class="modal-body">
                    <p>Seguro que quieres Eliminar la tarea ?</p>
                    <p class="text-warning"><small>No se eliminara si cierras!!</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteTask(task.id)">Si, quiero borrarla</button>
                </div>
            </div>
        </div>
    </div>


        
    </div>
    
</div>