<div class='col-md-12'>
    <h3>{{title}}</h3>
        
    <form #editForm="ngForm" (ngSubmit)="onSubmit();" class="Col-md-7 no-padding">
        <p>
            <label>Nombre</label>
            <input class="form-control" required name="name" type="text" 
                   #name="ngModel" [(ngModel)]="_user.name" required/>
            <span class="error" *ngIf="!name.valid && name.touched">El nombre no es valido</span>
        </p>
        
        <p>
            <label>Apellido</label>
            <input class="form-control" required name="surname" type="text" 
                   #surname="ngModel" [(ngModel)]="_user.surname" required/>
            <span class="error" *ngIf="!surname.valid && surname.touched">Apellidos no validos</span>
        </p>
        
        <p>
            <label>Mail</label>
            <input class="form-control" required name="email" type="email" #email="ngModel"
                   [(ngModel)]="_user.email" required/>
            <span class="error" *ngIf="!email.valid && email.touched">El correo no es valido</span>
        </p>
        
        <p>
            <label>Password</label>
            <input class="form-control" required name="password" type="password"
                   #password="ngModel" [(ngModel)]="_user.password" />
            <span class="error" *ngIf="!password.valid && password.touched">Password no valido</span>
        </p>
       
        <input type="submit" value="{{title}}" class="btn btn-warning">
    </form>
</div>